*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    line-height: 1.2;
    color: var;
    background-color: #ffb8b8;
    padding: 0 10%;
}
.bacground{
    width: 100%;
    height: 20vh;
    position: relative;
}
img, svg {
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
}
main {
    padding: 0 0;
}
.box {
    position: relative;
    margin-top: 60px;
    width: 95%;
}
.box h2{
    margin-top: 0px;
    list-style: none;
    background-color: #ff8f3d;
    border: 2px solid white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
}
ul.row {
    width: 60%;
    margin-left: 0%;

}
.container ul{
    list-style: none;
}
p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 10px;
}
li.des {
    border-style: solid;
    border-color: #efefef;
    border-width: 15px;
}
.slide{
    position: relative;
    margin-top: 30px;
    width: 250px;
    height: 270px;
    margin-left: 40px;
    background-color: #f6f6f6;
    line-height: 38px;
    padding: 4px;
    border-radius: 25px;
    align-items: center;
}
.slider{
    position: relative;
    margin-top: 60px;
    width: 250px;
    height: 270px;
    margin-left: 40px;
    background-color: #f6f6f6;
    line-height: 38px;
    padding: 4px;
    border-radius: 25px;
    align-items: center;
}
.slider h2 {
    font-size: 16px;
    font-weight: bold;
    background-color: #fb5c5f;
    height: 30px;
    padding: 7px 0;
    color: white;
    margin-bottom: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    text-align: center;
}
.slide h2 {
    font-size: 16px;
    font-weight: bold;
    background-color: #fb5c5f;
    height: 30px;
    padding: 7px 0;
    color: white;
    margin-bottom: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    text-align: center;
}
.slider ul {
    padding-left: 0;
}
.slide ul {
    padding-left: 0;
}
li.title{
    list-style: none;
    text-align: left;
    padding: 0 10px;
    color: #2995e1;
    font-weight: bold;
    border-top: solid 0.85px #efefef;
    
}

.col-md-4{
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.col-md-8{
    flex-direction: column-reverse;
}
.ratting {
    position: relative;
    margin-top: 30px;
    width: 95%;
    height: 40vh;
    padding: 0px 0;
}
.ratting h2{
    margin-top: 0px;
    list-style: none;
    background-color: #fc6770;
    border: 2px solid #ffc4c4;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
}
.rtborder {
    border-style: solid;
    border-color: #ffc4c4;
    border-width: 15px;
}
h3.title {
    background-color: #fffeca;
    color: #fa5a5c;
    border-bottom: solid 1px;
    height: 60px;
    font-weight: bold;
}
p.document{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
}
button {
    font-size: 17px;
    width: 94%;
    background-color: skyblue;
    border: solid skyblue;
    color: white;
    height: 50px;
    font-weight: bold;
}
button{
    border-radius: 8px;
}
.footer {
    text-align: center;
    background-color: #fd7393;
    color: white;
    height: 70px;
    padding: 20px;
    font-size: 20px;
    margin-top: 2850px;
}
.table li {
    text-align: center;
    padding: 8px 0;
    border: solid;
    margin-left: -22px;
    margin-right: -45px;
    margin-top: -2px;
    border-color: #cccccc;
}
li.price {
    color: red;
    text-align: left;
    padding: 8px 30px;
    width: 103%;
}
li.tableright {
    text-align: left;
    padding: 8px 30px;
    width: 103%;
}
li.tableleft{
    background-color: #ececec;
}
.rtcontainer {
    border: solid 15px;
    border-color: #ffc4c4;
}
ul {
    margin-left: 25px;
}
.last {
    margin-top: 30px;
    margin-left: -57px;
}
.table {
    margin-top: 30px;
}
i.fa-solid.fa-circle-arrow-right {
    margin-right: 10px;
}
.image {
    margin: 10px;
    margin-bottom: 80px;
}
img.topimage {
    width: 8.9%;
}
img.topimage3 {
    width: 8%;
}
img.topimage4 {
    width: 8%;
}
img.topimage5 {
    width: 8%;
}
img.imagetitle {
    width: 10%;
}
img.imgicon {
    width: 10%;
    margin-top: 0;
}
a.icon {
    color: white;
    text-decoration: none;
}
a.item {
    color: #f691a0;
}
.slider {
    box-shadow: 1px 1px 1px 1px #f0f0f0;
}
ul.text {
    margin-left: 10px;
}
button {
    border-radius: 10px;
}